<html>
<head>
<link rel = "stylesheet" href = "/css/Landingpage.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style = "background-color:white;">
<div class = 'container-fluid'>

    <div class = "navbar" style = "width:100%; background-color:#638F6E; height:8%; overflow:hidden;">
        <a class="active" href="#To do">Home</a>
        <a href="#calender">Calender</a>
        <a href="#contacts">Contacts</a>
    </div>

    <div class="flexbox">
    <div class="">
        <div id="grid" class="grid-wrapper">
            <div id="header-image" class="card header"></div>
            <div class="card subheader subhead-1"></div>
            <div class="card subheader subhead-2"></div>
            <div class="card item-1 medSpan"></div>
            <div class="card item-2 medSpan"></div>
            <div class="card item-3 medSpan"></div>
            <div class="card item-4 medSpan"></div>
            <div class="card item-5 smSpan"></div>
            <div class="card item-6 smSpan"></div>
            <div class="card item-7 smSpan"></div>
            <div class="card item-8 smSpan"></div>
            <div class= "card footer"></div>
        </div>
    </div>
</div>

</div>
</body>

</html>